@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;800;900&display=swap');

:root{
    --poppins: font-family: 'Poppins', sans-serif;
    --title-text: #034B5E;
    --primary-text: #FFFFFF;
    --secondary-text: #919499;
    --highlight: #F8AD15;
    --bg-color: #015469;
}
*{
    margin: 0;
    padding: 0;
}
body{
    max-width: 75%;
    margin: auto;
    font-family: var(--poppins);
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
    
}
.main-section{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
    width: 100%;
    height: 96vh;
    margin-top: 20px;
}
.login-section{
    width: 60%;
    height: 100%;
    background-color: var(--primary-text);
}

.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--secondary-text);
    border-style: solid;
    border-width: 1px;
    border-color: var(--secondary-text);
    padding: 50px;
    width: 45%;
    margin: auto;
    border-radius: 25px;
}
.form-container p{
    text-align: center;
}
input{
    width: 300px;
    padding: 12px;
    margin: 20px 0 25px 0;
    border-color: var(--secondary-text);
    border-radius: 15px;
}
#signin-btn{
    background-color: var(--highlight);
    border: none;
    color: var(--primary-text);
}
.form-button{
    background-color: var(--primary-text);
    width: 320px;
    border-radius: 15px;
}
#span{
    color: var(--highlight);
}
.login-title{
    color: var(--title-text);
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    margin: 30px 0 50px 30px;
}
.display-section{
    width: 40%;
    height: 100%;
   
    background-image: url('phone-1.png'), url('phone-2.png');
    background-repeat: no-repeat;
    /* transform: rotate(-5.377deg); */
    background-position: bottom;
    background-size: 100%;
    
}